<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/HP/IdeaProjects/New_project_in_intellej_idea">
        <classes>
            <class name="stepDefinitions.TestA001_landing_page">
                <methods>
                    <include name="method_name"/>
                </methods>
            </class>
            <class name="stepDefinitions.test">
                <methods>
                    <include name="testDB"/>
                    <include name="getUserById"/>
                    <include name="testInsertUser"/>
                    <include name="testUpdateUserEmail"/>
                    <include name="testDeleteUser"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>